$green:#11654D;
$yellow_light:#FDE65B;
$yellow:#FFDE00;
$dark_blue:#362B50;
$white:#fcfcfc;
$black:#000;

$primary-color: #11654D;
$completed-color: #4caf50;
$error-color: #f44336;

$font_principal:"Poppins", sans-serif;

