@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.candidateCard {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
    box-sizing: border-box;
    border-top: 1px solid rgba(128, 128, 128, 0.201);
    margin: 0;
}

.iconClock {
    width: 14.5px;
    height: 14.5px;
    margin-bottom: -2px;
}

.iconRegister {
    width: 15px;
    height: 15px;
    margin-bottom: -2px;
}

.titleCard {
    display: inline-block;
    margin-right: auto;
    margin-left: 5px;
    margin-top: 11px;
    font-size: 14.5px;
    color: $dark_blue;
}

.divDatesCard {
    display: flex;
    margin-top: -21px;
    align-items: center;
    margin-right: auto;
    margin-bottom: -2px;
}

.dateCard {
    margin-left: 4px;
    font-size: 14px;
    color: $dark_blue;
}

.dateCard2 {
    margin-left: 10px;
    font-size: 14px;
    color: $dark_blue;
}

.iconFlechaDcha {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-top: -16px;
    margin-left: auto;
    margin-bottom: 6px;
}