@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.candidatesList {
    display: inline-flex;
    flex-direction: column;
    width: 18.7%;
    margin-right: 15px;
    margin-top: 15px;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border: 1.3px solid rgba(128, 128, 128, 0.311);
    border-radius: 5px;
    box-sizing: border-box;
}

.candidatesList a {
    display: inline-block;
    text-decoration: none;
    width: 90%;
    height: auto;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.titleList {
    margin-right: auto;
    padding:15px 20px;
    font-weight: 550;
    color: $dark_blue;
    background-color: #f6f7fb;
    width: 100%;
    box-sizing: border-box;
    margin-top: 0;
    margin-bottom: 0;
}