@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: $font_principal;
  
    > * {
      width: 100%;
      margin-bottom: 20px;
    }
  }