@import '../utils/mixins.scss';
@import '../utils/variables.scss';

.details-container {
  display: flex;
  justify-content: center;
  align-items: center;
 
  .details-card {
    margin: 20px;
    width: 80%;
  }

  .card-actions {
    justify-content: center;
    gap: 15px;
    padding: 16px;
  }

  .button {
    &-grades {
      background-color: $yellow;
      color: $black;
      &:hover {
        background-color: $yellow-light;
      }
    }
    &-profile {
      background-color: $yellow;
      color: $black;
      &:hover {
        background-color: $yellow-light;
      }
    }
  }
}