@import '../utils/variables.scss';

.staff-container {
  margin-top: 2rem;
  margin-bottom: 2rem;

  .staff-title {
    margin-bottom: 1rem;
  }

  .new-member-button {
    background-color: $yellow;
    color: $black;
    margin-bottom: 1rem;
    
    &:hover {
      background-color: $yellow_light;
    }
  }
}
